{% load static %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<!-- <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet"> -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="icon" href="{% static 'images/favicon.ico' %}">
	<link rel="stylesheet" href="{% static 'css/signin.css' %}">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Plan'it Teknoy | Sign In</title>
</head>
<body>
	<!-- <div class="container">
        {% for message in messages %}
    <div id="errorDiv"style="margin: auto; width: 300px; border-radius: 5px; position: absolute;
              background-color: white; z-index: 1; transform: translate(158%, 128%);"> </div>
    <p class="{{ message.tags }}" 
      style="color: rgb(201, 44, 44); font-weight: bold; text-align: center;
             font-family: Arial; margin-top: 10px; padding: 5px;">
      {% if 'login' in message.tags %}
        {{ message }}
      {% else %}
        {{ message }}
      {% endif %}
      </p>
    {% endfor %}
  </div> -->
	<div class="div">
		<a href="{% url 'Plan_It_Teknoy:Home' %}"></a>
		<img class="logo" id="logo" src="{% static 'images/LogoMain.png' %}" alt="">
	</div>
	<div class="container">
		<div class="login-content">
			<form id="form1" action="" method="POST" autocomplete="off" enctype="multipart/form-data">
				{% csrf_token %}
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Student ID</h5>
           		   		<input type="text" class="input" id="id_number" name ="id_number" required>
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fa fa-envelope"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Institutional Email</h5>
           		    	<input type="email" class="input" id="email" name = "email" required>
            	   </div>
            	</div>
				<div class="input-div pass">
					<div class="i"> 
						 <i class="fas fa-lock"></i>
					</div>
					<div class="div">
						 <h5>Password</h5>
						 <input type="password" class="input" id="password" name = "password" required>
				 </div>
			  </div>
			  	<a class="forgot-pass" href="#" data-bs-toggle="modal" data-bs-target="#forgotPWModal">Forgot Password?</a>
            	<button type="submit" class="btn" value="Sign In" id="signinBtn">Sign In</button>
				<span>Dont have an account?<a class="sign-up" href="{% url 'Plan_It_Teknoy:select_view' %}"> Sign Up</a></span>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/signin.js' %}"></script>
</body>
</html>