{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static 'images/favicon.ico' %}">
  <!-- icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <!-- font -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
  <link rel="stylesheet" href="{% static 'css/style-signup-role.css' %}">

  <title>Plan'it Teknoy | Sign Up</title>
</head>

<body>
  <!-- Error Message (account existing) -->
  {% for message in messages %}
  <div id="errorDiv" style="margin: auto; width: 300px; border-radius: 5px; position: absolute;
          background-color: white; z-index: 1; transform: translate(158%, 128%);">
    <p class="{{ message.tags }}" style="color: rgb(201, 44, 44); font-weight: bold; text-align: center;
         font-family: Raleway; margin-top: 10px; padding: 5px;">
      {% if 'login' in message.tags %}
      {{ message }}
      {% else %}
      {{ message }}
      {% endif %}
    </p>
  </div>
  {% endfor %}
  <script type="text/javascript">
    var opacity = 0;
    var intervalID = 0;
    window.onload = fadeout;
    function fadeout() {
      setInterval(hide, 800);
    }
    function hide() {
      var body = document.getElementById("errorDiv");
      opacity =
        Number(window.getComputedStyle(body).getPropertyValue("opacity"))
      if (opacity > 0) {
        opacity = opacity - 0.1;
        body.style.opacity = opacity
      }
      else {
        clearInterval(intervalID);
      }
    } 
  </script>
  <!-- End of Error Message -->

  <!-- new sign up template -->
  <div class="col text-center logo-top">
    <img src="{% static 'images/LogoMain.png' %}" alt="">
  </div>
  <div class="col text-center">
    <br>
    <h4>Create your account here</h4>
  </div>
  <div class="content">
    <div class="content__inner">
      <div class="container">
        <h5 class="content__title">Organize your classes, schedules, assignments, and exams easily</h5>
      </div>
      <div class="container overflow-hidden">
        <div class="multisteps-form">
          <div class="row">
            <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
              <div class="multisteps-form__progress">
                <button class="multisteps-form__progress-btn js-active" type="button" title="Personal">Personal</button>
                <button class="multisteps-form__progress-btn" type="button" title="Contact">Contact</button>
                <button class="multisteps-form__progress-btn" type="button" title="Account">Account</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-8 m-auto">
              <!-- Form Start -->
              <form class="multisteps-form__form" id="form" action="" method="POST" autocomplete="off" onload="onCheck()"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="multisteps-form__panel shadow p-4 rounded bg-white js-active" data-animation="slideHorz">
                  <!-- Personal Information -->
                  <h3 class="multisteps-form__title">Personal Information</h3>
                  <div class="multisteps-form__content">
                    <!-- Name -->
                    <div class="form-row mt-4">
                      <div class="col">
                        <input class="multisteps-form__input form-control" type="text" id="first_name" name="first_name" oninput="oncheck()"
                          placeholder="First Name" required />
                      </div>
                      <div class="col">
                        <input class="multisteps-form__input form-control" type="text" id="middle_name" oninput="oncheck()"
                          name="middle_name" placeholder="Middle Name" required />
                      </div>
                      <div class="col">
                        <input class="multisteps-form__input form-control" type="text" id="last_name" name="last_name" oninput="oncheck()"
                          placeholder="Last Name" required />
                      </div>
                    </div>
                    <!-- Department -->
                    <div class="form-row mt-4">
                      <div class="col-12 col-sm-6">
                        <select class="multisteps-form__select form-control" id="department" name="department" oninput="oncheck()" required>
                          <option hidden value="" disabled selected>Department</option>
                          <option value="CCS">CCS</option>
                          <option value="CMBA">CMBA</option>
                          <option value="COE">COE</option>
                        </select>
                      </div>
                      <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                        <!-- Gender -->
                        <select class="multisteps-form__select form-control" id="gender" name="gender" oninput="oncheck()" required>
                          <option hidden value="" disabled selected>Gender</option>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                        </select>
                      </div>
                    </div>
                    <!-- Program -->
                    <div class="form-row mt-4">
                      <div class="col-12 col-sm-6">
                        <select class="multisteps-form__select form-control" id="program" name="program" oninput="oncheck()"  required>
                          <option hidden value="" disabled selected>Program</option>
                          <option value="BSIT">BSIT</option>
                          <option value="BSCS">BSCS</option>
                          <option value="BSCpE">BSCpE</option>
                        </select>
                      </div>
                      <!-- Year -->
                      <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                        <select class="multisteps-form__select form-control" id="year_level" name="year_level" oninput="oncheck()" required>
                          <option hidden value="" disabled selected>Year Level</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                        </select>
                      </div>
                    </div>
                    <div class="button-row d-flex mt-4">
                      <!-- Return to home button -->
                      <a class="btn btn-outline-danger" type="button" title="Home"
                        href="{% url 'Plan_It_Teknoy:Home' %}">Return to home</a>
                      <!-- <button class="btn btn-outline-danger" type="button" title="Home">Return to home</button> -->
                      <button class="btn btn-danger ml-auto js-btn-next" type="button" id="btnPersonalNext" name="btnPersonalNext" title="Next" disabled>Next</button> 
                    </div>
                  </div>
                </div>

                <!-- Contact information -->
                <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="slideHorz">
                  <h3 class="multisteps-form__title">Contact Information</h3>
                  <div class="multisteps-form__content">
                    <div class="form-row mt-4">
                      <div class="col">
                        <!-- City Address -->
                        <input class="multisteps-form__input form-control" type="text" id="home_address" oninput="oncheck()"
                          name="home_address" placeholder="Home Address" required />
                      </div>
                    </div>
                    <div class="form-row mt-4">
                      <div class="col">
                        <!-- City Address -->
                        <input class="multisteps-form__input form-control" type="text" id="city_address" oninput="oncheck()"
                          name="city_address" placeholder="City Address" required />
                      </div>
                    </div>
                    <div class="form-row mt-4">
                      <div class="col-12 col-sm-6">
                        <!-- Contact Number -->
                        <input class="multisteps-form__input form-control" type="text" id="contact_number" oninput="oncheck()"
                          name="contact_number" placeholder="Contact Number" required />
                      </div>
                    </div>
                    <div class="button-row d-flex mt-4">
                      <button class="btn btn-danger js-btn-prev" type="button" title="Prev">Previous</button>
                      <button class="btn btn-danger ml-auto js-btn-next" type="button" id="btnContactNext" title="Next" disabled>Next</button>
                    </div>
                  </div>
                </div>

                <!-- Account Information -->
                <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="slideHorz">
                  <h3 class="multisteps-form__title">Account Information</h3>
                  <div class="multisteps-form__content">
                    <div class="form-row mt-4">
                      <div class="col-12 col-sm-6">
                        <!-- Email -->
                        <input class="multisteps-form__input form-control" type="email" id="email" name="email" oninput="oncheck()"
                          placeholder="Institutional Email" required />
                      </div>
                      <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                        <!-- ID Number -->
                        <input class="multisteps-form__input form-control" type="text" id="id_number" name="id_number" oninput="oncheck()"
                          placeholder="ID Number" required />
                      </div>
                    </div>

                    <div class="form-row mt-4">
                      <div class="col-12 col-sm-6 password-container">
                        <!-- Password -->
                        <input class="multisteps-form__input form-control" type="password" id="password" name="password" oninput="oncheck()"
                          placeholder="Password" required />
                          <i class="fa-solid fa-eye" id="eye"></i>
                      </div>                    
                        <!-- Confirm Password -->
                        <div class="col-12 col-sm-6 password-container">
                        <input class="multisteps-form__input form-control" type="password" id="confirmPassword"
                          name="cpassword" placeholder="Confirm Password" required />
                          <i class="fa-solid fa-eye" id="confirmEye"></i>
                        </div>
                      </div>
                      <div class="u-align-center u-form u-form-3">
                        <div id ="check0" style="padding: 3% 4% 0;" align ="left">
                          <i class = "far fa-check-circle"></i> Length more than 8.
                        </div>
                        <div id ="check2" style="padding: 2% 4% 0;" align ="left">
                          <i class = "far fa-check-circle"></i> Contains numerical character.
                        </div>
                        <div id ="check3" style="padding: 2% 4% 0;" align ="left">
                          <i class = "far fa-check-circle"  ></i> Contains special character.
                        </div>
                        <div id ="check4" style="padding: 2% 4% 0" align ="left">
                          <i class = "far fa-check-circle"  ></i>  Shouldn't contain spaces.
                        </div>
                    </div>
                    <div class="button-row d-flex mt-4">
                      <button class="btn btn-danger js-btn-prev" type="button" title="Prev">Previous</button>
                      <!-- Submit Button -->
                      <button class="btn btn-danger ml-auto" type="submit" id="btnSignUp" title="Register" disabled>Sign up</button>
                    </div>
                  </div>
                </div>

              </form>
              <div class="row">
                <div id="bottom" class="col text-center">
                  <br>
                  <p>by creating an account, you agree to our <a href="#">privacy policy</a> and <a href="#">terms of
                      service</a></p>
                  <!-- Sign in link -->
                  <p>Already have an account? <a href="{% url 'Plan_It_Teknoy:signin_view' %}">Sign in</a></p>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function oncheck(){
      const buttonPersonalNext = document.querySelector('#btnPersonalNext');
      const buttonContactNext = document.querySelector('#btnContactNext');
      const buttonSignUp = document.querySelector('#btnSignUp');
      // buttonPersonalNext.disabled = false;

      var inputFName = document.getElementById("first_name").value;
      var inputMName = document.getElementById("middle_name").value;
      var inputLName = document.getElementById("last_name").value;
      var inputDepartment = document.getElementById("department").value;
      var inputGender = document.getElementById("gender").value;
      var inputProgram = document.getElementById("program").value;
      var inputYearLevel = document.getElementById("year_level").value;

      var inputHomeAddress = document.getElementById("home_address").value;
      var inputCityAddress = document.getElementById("city_address").value;
      var inputContactNumber = document.getElementById("contact_number").value;

      var inputEmail = document.getElementById("email").value;
      var inputIdNumber = document.getElementById("id_number").value;
      var inputPassword = document.getElementById("password").value;
      var inputConfirmPassword = document.getElementById("confirmPassword").value;

      if(inputFName.length > 0 && inputMName.length > 0 && inputLName.length > 0 && 
      inputDepartment.length > 0 && inputGender.length > 0 && inputProgram.length > 0 && inputYearLevel.length > 0){
         
        buttonPersonalNext.disabled = false;
      }

      if(inputHomeAddress.length > 0 && inputCityAddress.length > 0 && inputContactNumber.length > 0){
         
        buttonContactNext.disabled = false;
      }

      if(inputEmail.length > 0 && inputIdNumber.length > 0 && inputPassword.length > 0 && inputConfirmPassword.length > 0){
         
        buttonSignUp.disabled = false;
       }
 

      document.getElementById("password").value = inputPassword;

      if(inputPassword.length >= 8){
         document.getElementById("check0").style.color="green";
      }else{
        var check0 = document.getElementById("check0").style.color="red";
      }

      if(inputPassword.match(/[0-9]/i)){
        document.getElementById("check2").style.color="green";
      }else{
        var check2 = document.getElementById("check2").style.color="red";
      }

      if(inputPassword.match(/[^A-Za-z0-9-'']/i)){
        document.getElementById("check3").style.color="green";
      }else{
        var check3 = document.getElementById("check3").style.color="red";  
      }

      if(inputPassword.match(' ')){
        document.getElementById("check4").style.color="red";
      }else{
        var check4 = document.getElementById("check4").style.color="green";
      }

      if(check0 ==="red" || check2 ==="red" || check3 ==="red" || check4 ==="red" ){
        const button = document.querySelector('#btnSubmitPassword');
        button.disabled = true;
      }

    }
  </script>
    
  <script>
    const passwordField = document.querySelector("#password");
    const eyeIcon= document.querySelector("#eye");

    eye.addEventListener("click", function(){
    this.classList.toggle("fa-eye-slash");
    const type = passwordField.getAttribute("type") === "password" ? "text" : "password";
    passwordField.setAttribute("type", type);
    })
  </script>

  <script>
    const confirmPasswordField = document.querySelector("#confirmPassword");
    const confirmEyeIcon= document.querySelector("#confirmEye");

    confirmEye.addEventListener("click", function(){
    this.classList.toggle("fa-eye-slash");
    const type = confirmPasswordField.getAttribute("type") === "password" ? "text" : "password";
    confirmPasswordField.setAttribute("type", type);

    })
  </script>

  <script src="{% static 'js/function-signup-role.js' %}"></script>
</body>

</html>