.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 843px;
}

.u-section-1 .u-text-1 {
  font-weight: 600;
  margin: 60px auto 0 0;
}


.u-section-1 .u-tabs-1 {
  min-height: 547px;
  margin-bottom: 60px;
  margin-top: 20px;
}

.u-section-1 .u-tab-link-1 {
  font-weight: 600;
  font-size: 0.875rem;
}

.u-section-1 .u-tab-link-2 {
  font-weight: 600;
  font-size: 0.875rem;
}

.u-section-1 .u-tab-link-3 {
  font-weight: 600;
  font-size: 0.875rem;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  min-height: 504px;
  margin-bottom: -28px;
  margin-top: 28px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 28px 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 448px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 197px;
  height: 197px;
  margin: 6px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 4px 37px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 10px auto 0;
  padding: 4px 20px 4px 19px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 448px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-1 .u-form-1 {
  height: 388px;
  width: 530px;
  margin: 6px auto 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-1 .u-input-1 {
  font-weight: 500;
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-1 .u-input-2 {
  font-weight: 500;
  font-size: 0.875rem;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-1 .u-input-3 {
  font-weight: 500;
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-1 .u-input-4 {
  font-weight: 500;
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.password-container{
	width: 568px;
	position: relative;
  }
  .password-container input[type="password"],
  .password-container input[type="text"]{
	width: 100%;
	padding: 12px 36px 12px 12px;
	box-sizing: border-box;
  }
  .fa-eye{
	position: absolute;
	top: 60%;
	right: 4%;
	cursor: pointer;
	color: lightgray;
}

.password-container{
	width: 568px;
	position: relative;
  }
  .password-container input[type="password"],
  .password-container input[type="text"]{
	width: 100%;
	padding: 12px 36px 12px 12px;
	box-sizing: border-box;
  }
  .fa-eye{
	position: absolute;
	top: 60%;
	right: 4%;
	cursor: pointer;
	color: lightgray;
}

.u-section-1 .u-label-5 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-1 .u-input-5 {
  font-weight: 500;
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-1 .u-input-6 {
  font-weight: 500;
  font-size: 0.875rem;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-1 .u-group-2 {
  min-height: 382px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin-top: 30px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 14px 30px;
}

.u-section-1 .u-form-2 {
  height: 293px;
  width: 570px;
  margin: 31px auto 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-input-7 {
  font-weight: 500;
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-label-8 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-input-8 {
  font-weight: 500;
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-label-9 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-input-9 {
  font-weight: 500;
  font-size: 0.875rem;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  background-image: none;
  border-style: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-group-3 {
  min-height: 382px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin-top: 30px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 30px 15px;
}

.u-section-1 .u-form-3 {
  width: 570px;
  margin: 15px auto 0;
}

.u-section-1 .u-label-10 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-1 .u-input-10 {
  font-weight: 500;
  font-size: 0.875rem;
}

.u-section-1 .u-label-11 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-1 .u-input-11 {
  font-weight: 500;
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-14 {
  margin-left: 0;
}

.u-section-1 .u-label-12 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-1 .u-input-12 {
  font-weight: 500;
  font-size: 0.875rem;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 369px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 369px;
  }

  .u-section-1 .u-form-1 {
    width: 410px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-2 {
    width: 520px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-3 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-group-2 {
    min-height: 387px;
  }

  .u-section-1 .u-form-2 {
    width: 320px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-3 {
    width: 320px;
  }
}