/* Sign in CSS */
#bgOverlay{
    /* background-image: url(./Logos/bgCit.jpg);
    background-size: 100%; */
    background-color: #7E1215;
}

#logo{
    padding-top: 73px;
    padding-bottom: 65px;
}

.form-group{
    padding-bottom: 30px;
}

#signinBtn{
    width: 100%;
    height: 55px;
    background-color: #9D182D;
    border: none;
}

#signinBtn:hover{
    width: 100%;
    height: 55px;
    background-color: #C4224A;
    border: none;
}

.buttom a{
    color: #ffffff;
}

.buttom a:hover{
    color: #CEA335;
}

.signup p{
    color: #ffffff;
}

.signup a{
    color: #CEA335;
}

.signup a:hover{
    color: #ffffff;
}

/* Sign up CSS */
.logo-top{
    background-color: #7E1215;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
}

.logo-top img{
    height: 115px;
    padding-top: 10px;
}

#signupBtn{
    width: 60%;
    height: 55px;
    background-color: #9D182D;
    border: none;
}

#signupBtn:hover{
    width: 60%;
    height: 55px;
    background-color: #C4224A;
    border: none;
}

.signup-buttom a{
    color: #CEA335;
}

.signup-buttom p{
    padding-bottom: -20px;
}

.signin a{
    color: #CEA335;
}

.signin p{
    padding-top: 10px;
}
